<app-side-nav></app-side-nav>
<div class="container">
    <div class="card-container">
        <!-- Income Card -->
        <div class="card">
            <div class="card-header">
                <span class="icon income-icon"><mat-icon>fitness_center</mat-icon></span>
                <h2>Workout Details</h2>
            </div>
            <hr>
            <div class="income-details">
                <div class="month">
                    <h3>Workout history </h3>
                    <ul>
                        <li *ngFor="let workout of PastWorkouts">{{ workout }}</li>
                    </ul>
                </div>
                <div class="month">
                    <h3>Current Workout</h3>
                    <p>{{ currentWorkout }}</p>
                </div>
                <button class="button" (click)="onIncome()">Add Workout Details</button> 
            </div>
        </div>
       

        <!-- To DO List -->
        <div class="card">
            <div class="card-header">
              <span class="icon todo-icon"><mat-icon>assignment</mat-icon></span>
              <h2>To Do List</h2>
            </div>
            <hr>
            <ul>
              <li *ngFor="let item of todoTransactions">
                <span class="transaction-status">
                  <mat-icon>hourglass_empty</mat-icon>
                </span>
                <span class="transaction-details">{{ item.description }}</span>
              </li>
            </ul>
            <button class="button" (click)="onTodo()">View</button> 
          </div>
        
    </div>
</div>